{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'socialnetwork/style.css' %}">
  <!-- Bootstrap CSS -->

</head>
<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="{% static 'socialnetwork/images/etube_small_logo.png' %}" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {%if tab == 'home'%} active underline {%endif%}" aria-current="page" href="">Public playlists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if tab == 'user_playlists' %}active underline{%endif%}" href="">Your playlists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if tab == 'my_courses' %}active underline{%endif%}" href="">My courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if tab == 'public_courses' %}active underline{%endif%}" href="">Public courses</a>
                </li>
            </ul>
            
            <!-- Profile and Logout for Large Screens -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-none d-lg-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="profile-picture" src="{{ picture }}" alt="" width="45" height="45">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Profile</a>
                        <a class="dropdown-item" href="">Logout</a>
                    </div>
                </li>
            </ul>

            <!-- Profile and Logout for Smaller Screens -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-lg-none">
                <li class="nav-item">
                    <a class="nav-link" href="">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

      {% block body %}
      {% endblock body %}
        

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>