{% extends "social_network/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'social_network/css/courses.css' %}">
<div class="courses-container"> 
    <div class='course-progress-container mb-2'>
        <h1>Your Course Progress</h1>
        <input type="text" class="search-bar" placeholder="Search courses">
    </div>
    <div class="course-section">
        {% if not_started %}
            <h2>Not Started</h2>
            {% for playlist in not_started%}
                <div class="course-card">
                    <a href="{% url 'course' playlist.id %}?">
                        <img src={{playlist.thumbnail}} alt="Course Icon" class="course-icon">
                    </a>
                    <div class="course-info">
                        <span class="course-title">{{playlist.title}}</span>
                        <a href="{% url 'course' playlist.id %}" class="start-button" >Start Course</a>
                        <div class="course-duration">2h 30m</div>
                        <div class="course-description">{{playlist.description}}</div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="course-section">
        {% if in_progress %}
            <h2>In Progress</h2>
            {% for playlist in in_progress%}
                <div class="course-card">
                    <a href="{% url 'course' playlist.playlist__id %}?">
                        <img src={{playlist.playlist__thumbnail}} alt="Course Icon" class="course-icon">
                    </a>
                    <div class="course-info">
                        <span class="course-title">CSS Flexbox and Grid</span>
                        <div class="course-progress">
                            <div class="progress-bar">
                                <div class="progress-fill" style="width: {{playlist.percent_completed}}%;"></div>
                            </div>
                            <span class="progress-text">{{playlist.percent_completed}}% complete</span>
                        </div>
                        <div class="course-duration">1h 50m</div>
                        <div class="course-description">{{playlist.playlist__description}}</div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="course-section">
        {% if done %}
            <h2>Not Started</h2>
            {% for playlist in done%}
                <div class="course-card">
                    <a href="{% url 'course' playlist.id %}?">
                        <img src={{playlist.thumbnail}} alt="Course Icon" class="course-icon">
                    </a>
                    <div class="course-info">
                        <span class="course-title">{{playlist.title}}</span>
                        <a href="{% url 'course' playlist.id %}" class="start-button" >Start Course</a>
                        <div class="course-duration">2h 30m</div>
                        <div class="course-description">{{playlist.description}}</div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
