{% load static %}
{% load socialaccount %}


<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'social_network/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'social_network/css/modal.css' %}">

  <!-- Google Fonts - Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <!-- Custom CSS -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="">
            <img src="{% static 'social_network/images/etube_small_logo.png' %}" height="50" alt="Etube Logo">
            <span>Etube</span>
          </a>
            <button class="login-btn" onclick="openModal()">Log In</button>
        </div>
      </nav>
  
    
    <div class="youtube-analyzer">
        <div class="container">
          <div class="card">
            <div class="d-flex align-items-center mb-2">
              <svg class="youtube-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/>
              </svg>
              <h1 class="h3 mb-0">YouTube Playlist Length Analyzer</h1>
            </div>
            <p class="subtitle mb-1">Find the length of any YouTube playlist</p>
            <form action="{% url 'playlist-length' %}" method="post">
                <div class="input-group mb-3">
                    <input type="text" id="playlist-input" class="form-control" name="playlist_id" placeholder="Enter playlist URL, ID, or video link">
                    <button class="btn btn-dark" type="submit" id="analyze-btn">
                        <svg width="16" height="16" fill="currentColor" class="bi bi-clock me-1" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>
                        Analyze
                    </button>
                </div>
                {% csrf_token %}
            </form>
           
            
            {% if post %}
                <div id="result" class="result" style="display: block;">
                    <div class="row">
                        <div class="col-md-6 mb-3 mb-md-0">
                          <a class="playlist-thumbnail-container" onclick="openModal()">
                            <img id="playlist-thumbnail" src="{{ playlist.thumbnail }}" alt="Playlist Thumbnail" class="img-fluid rounded">
                            <div class="hover-text">
                              <span>Watch as online course</span>
                            </div>
                          </a>
                        </div>
                          
                        <div class="col-md-6">
                            <h3 id="playlist-title" class="h4 mb-3">{{ playlist.title }}</h3>
                            <div class="playlist-info">
                                <p class="mb-2">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 text-blue-500" style="width: 16px; height: 16px;">
                                    <polygon points="5 3 19 12 5 21 5 3"></polygon>
                                  </svg>
                                  <span id="total-videos">Total Videos:</span> {{playlist.num_videos}}
                                </p>
                                <p class="mb-2">
                                    <svg class="icon" viewBox="0 0 16 16" fill="currentColor">
                                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                                    </svg>
                                    <span id="total-duration">Total Duration:</span> {{ playlist.duration }}
                                </p>
                                <p class="mb-0">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 text-blue-500" style="width: 16px; height: 16px;">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                  </svg>
                                    <span id="channel-name">Channel:</span> {{ playlist.channel_title}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

           <!-- Updated Login Modal -->
          <div id="loginModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <div class="modal-header">
                  <div class="logo-container">
                    <img src="{% static 'social_network/images/etube_small_logo.png' %}" alt="Etube Logo">
                    <h2 class="logo-name">Etube</h2>
                  </div>
                  <p>Watch your playlists as free courses</p>
                </div>


                <a class="google-btn" href="{% provider_login_url 'google' %}?next=/?playlist_id={{ playlist.playlist_id|urlencode }}">
                {% comment %} <a class="google-btn"  href="{% provider_login_url 'google' %}?&playlist_id={{playlist.playlist_id}}"> {% endcomment %}
                    <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google logo">
                    Continue with Google
                </a>
            </div>
          </div>

          </div>
        </div>
      </div>

      <script>
        function openModal() {
            document.getElementById('loginModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('loginModal').style.display = 'none';
        }

        function signInWithGoogle() {
            // Implement Google Sign-In logic here
            console.log('Google Sign-In clicked');
            // You would typically integrate with Google's OAuth 2.0 here
        }

        // Close modal if user clicks outside of it
        window.onclick = function(event) {
            if (event.target == document.getElementById('loginModal')) {
                closeModal();
            }
        }
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>